@import "./vue.scss";

@font-face {
  font-family: 'fz-shjw';
  src: url('https://font-1253264948.cos.ap-chengdu.myqcloud.com/FZSHJW.woff2');
}

@font-face {
  font-family: 'fz-xssjw';
  src: url('https://font-1253264948.cos.ap-chengdu.myqcloud.com/FZXSSJW.woff2');
}

.md-area-tech {
  p {
    font-size: 21px;
    font-family: 'fz-xssjw';
    font-style: normal;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
  }

  li {
    font-size: 21px;
    font-family: 'fz-xssjw';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'fz-shjw';
  }

  h2 {
    font-size: 40px;
    margin-top: 35px;
    margin-top: 58px;
  }

  h3 {
    font-size: 30px;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin-left: -2.13px;
    margin-top: 58px;
  }

  h4 {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0;
    margin-top: 20px;
  }

  blockquote {
    margin: 50px 0 20px 0;
    border-left: 3px solid rgba(0,0,0,.84);
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  blockquote > p {
    font-style: italic;
    font-size: 18px;
    margin: 10px 0;
    color: #000;
  }

  img {
    display: block;
    margin: 30px auto;
  }
}